@page "/storyPointerApp/{userCode}"
@using Microsoft.AspNetCore.SignalR.Client
@using WorkPlaceProject.Application;
@using WorkPlaceProject.Application.DevOpsModels;
@using WorkPlaceProject.Application.SelectedWorkItem;
@using WorkPlaceProject.Application.SessionUser;
@using WorkPlaceProject.Application.StoryPointer;
@using WorkPlaceProject.Application.StoryPointerSession;
@using WorkPlaceProject.Domain.SessionUser;
@using WorkPlaceProject.Domain.StoryPointer.ValueTypes

@inject NavigationManager Navigation
@implements IAsyncDisposable

@using Microsoft.Identity.Web
@using Microsoft.Graph
@using WorkPlaceProject.Domain.StoryPointer;
@using WorkPlaceProject.Domain.StoryPointerSession;
@using WorkPlaceProject.Web.Ioc.Http;
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

@inject IStoryPointSelectionApplicationService StoryPointSelectionApplicationService
@inject IPointerSessionApplicationService PointerSessionApplicationService
@inject ISessionUserApplicationService SessionUserApplicationService
@inject ISelectedWorkItemApplicationService SelectedWorkItemApplicationService

@inject ApiClient ApiClient

<PageTitle>Story Pointer</PageTitle>
<h3>Story Pointer</h3>

@if (_isSessionLeader)
{
    <h3>Session Code: @PointerSession.SessionCode</h3>
}
<hr>

<AuthorizeView>
    <Authorized>

        <div class="container sp-container" style="max-width:100%;  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); color:white">
            <div class="row">
                <div class="col-9 p-3">
                    
                    @if (_isSessionLeader)
                    {
                        <div class="container sp-container">
                            <div class="row">
                                <div class="col-4 ">
                                    <section>
                                        <div class="form-group">
                                            <label for="Team" class="control-label">
                                                Team
                                            </label>
                                            <select for="Team" class="form-select" @bind="SelectedTeamId" @bind:after="GetIterations">
                                                
                                                @if (Teams.Count() < 1)
                                                {
                                                    <option value="" selected disabled hidden>
                                                        [Select Team]
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="" selected disabled hidden>
                                                        [Select Team]
                                                    </option>
                                                    @foreach (var team in Teams)
                                                    {
                                                        <option value="@team.Id">
                                                            @team.Name
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-4 ">
                                    <section>
                                        <div class="form-group">
                                            <label for="Iteration" class="control-label">
                                                Iteration
                                            </label>
                                            <select for="Iteration" class="form-select" @bind="@SelectedIterationId" @bind:after="GetWorkItems">

                                                @if (Iterations.Count() < 1)
                                                {
                                                    <option value="" selected disabled hidden>
                                                        [Select Iteration]
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="" selected disabled hidden>
                                                        [Select Iteration]
                                                    </option>
                                                    @foreach (var iteration in Iterations)
                                                    {
                                                        <option value="@iteration.Id">
                                                            @iteration.Name
                                                        </option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-4 ">
                                    <section>
                                        <div class="form-group">
                                            <label for="WorkItem" class="control-label">
                                                Work Item
                                            </label>
                                            <select for="WorkItem" class="form-select" @bind="SelectedWorkItemId" @bind:after="SetSelectedStory">
                                                @if (WorkItems.Count() < 1)
                                                {
                                                    <option value="" selected disabled hidden>
                                                        [Select Work Item]
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="" selected disabled hidden>
                                                        [Select Work Item]
                                                    </option>
                                                    @foreach (var workItem in WorkItems)
                                                    {
                                                        <option value="@workItem.Id">
                                                            @workItem.Fields.Title
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>

                    }

                    <div class="container sp-container" style="margin-top:20px">
                        <div class="row">
                            <div class="col-12">
                                @if(WorkItems.SingleOrDefault(x => x.Id == SelectedWorkItemId) is not null)
                                {
                                    string workPlaceProject = "Work Place Project";
                                    string teamName = Teams.SingleOrDefault(x => x.Id == SelectedTeamId).Name;
                                    string iterationName = Iterations.SingleOrDefault(x => x.Id == SelectedIterationId).Name;

                                    string link = $"https://dev.azure.com/kitcookdev12/{workPlaceProject}/_sprints/taskboard/{teamName}/{workPlaceProject}/{iterationName}?workitem={SelectedWorkItemId}".Replace(" ", "%20");

                                    <h4><a href="@link" target="_blank">@WorkItems.SingleOrDefault(x => x.Id == SelectedWorkItemId)!.Fields.Title</a></h4>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6" style="border:dashed; border-color:gray;min-height:300px; padding:10px;overflow: auto;">
                                <section>
                                    <div class="col-12" style="text-align:center">
                                        Acceptance Criteria
                                    </div>
                                    <div class="col-12">
                                        @((MarkupString)SelectedStoryAcceptanceCriteria)
                                    </div>
                                </section>
                            </div>
                            <div class="col-6" style="border:dashed; border-color:gray;min-height:300px; padding:10px;overflow: auto;">
                                <section>
                                    <div class="col-12" style="text-align:center; ">
                                        Description
                                    </div>
                                    <div class="col-12">
                                        @((MarkupString)SelectedStoryDescription)
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="container sp-container" style="margin-top:20px">
                        <div class="row">
                            <div class="col-12" style="">
                                <div class="col-12">
                                    Selected Values:
                                </div>
                                <div class="col-12 row">
                                    @foreach (var card in _storyPointSelections.OrderBy(x => x.Username))
                                    {
                                        <div class="column">
                                            <div class="card">

                                                @if (_showResults)
                                                {
                                                    <p>@card.Value</p>
                                                }
                                                <p>@card.Username</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            @if (_showResults)
                            {
                                <div class="col-12 text-center">
                                    Average Story Point: @StoryPointValueAverager.Average(_storyPointSelections.Select(x => x.Value).ToList())
                                </div>
                            }
                            @if (_isSessionLeader)
                            {
                                <div class="col-6 text-center">

                                    @if (_showResults)
                                    {
                                        <button @onclick="(e => HideStoryPointValues())" disabled="@(!IsConnected)" type="button" class="btn" style="padding:10px 40px; border-radius:10px;background-color:#bbbbbb">Hide Story Points</button>
                                    }
                                    else
                                    {
                                        <button @onclick="(e => RevealStoryPointValues())" disabled="@(!IsConnected)" type="button" class="btn " style="padding:10px 40px; border-radius:10px; background-color:#bbbbbb">Reveal Story Points</button>
                                    }
                                </div>
                                <div class="col-6 text-center">
                                    <button @onclick="(e => SaveStoryPoints())" disabled="@(!IsConnected)" type="button" class="btn " style="padding:10px 40px; border-radius:10px; background-color:#bbbbbb">Save Story Points</button>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="container sp-container" style="margin-top:20px">
                        <div class="row">
                            <div class="col-12" style="">
                                <div class="row">
                                    <div class="col-12">
                                        Select a Story Point Estimation:
                                    </div>
                                </div>
                                <div class="col-12 row">
                                    @foreach (var card in FibonacciValueType.Values)
                                    {
                                        <div class="column">
                                            <div class="card" @onclick="(e => SendStoryPoints(card.Value))">
                                                <p>@card.Value</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 p-3" style="position: relative;background-image: linear-gradient(180deg, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 60%);color: black;border-radius:20px">
                    <div class="form-group">
                        <label>
                            Messages:
                        </label>
                    </div>
                    <ul id="messagesList">
                        @foreach (var message in _messages)
                        {
                            <li>@message</li>
                        }
                    </ul>
                    <div class="row" style="position: absolute;bottom: 0;width: 100%;">
                        <div class="col-10">
                            <div class="mb-3">
                                <input @bind="_messageInput" type="text" class="form-control" id="SendMessage" placeholder="Enter a message to send...">
                            </div>
                        </div>
                        <div class="col-2">
                            <button @onclick="Send" disabled="@(!IsConnected)" type="button" class="btn btn-light" style="padding: 5px 10px; border-radius:10px">Send</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (DialogIsOpen)
        {
            <Dialog Caption="@DialogCaption"
                Message="@DialogMessage"
                OnClose="@OnDialogClose"
                Type="Dialog.Category.Okay">
            </Dialog>
        }

    </Authorized>
    <NotAuthorized>
        ahhhhhhhh
    </NotAuthorized>
</AuthorizeView>

@code {
    private HubConnection? _hubConnection;
    private List<string> _messages = new List<string>();
    private IEnumerable<UserValueType> _storyPointSelections = new List<UserValueType>();
    private User? _user;
    private bool _showResults = false;
    private bool _isSessionLeader = false;

    public PointerSession PointerSession;

    [Parameter]
    public string? UserCode { get; set; }

    private string? _messageInput;
    private int? _selectedValue;

    private string DialogCaption = "Error";
    private string DialogMessage = "";
    private bool DialogIsOpen = false;

    private void OpenDialog(string caption, string message)
    {
        DialogCaption = caption;
        DialogIsOpen = true;
        DialogMessage = message;
    }

    private async Task OnDialogClose(bool isOk)
    {
        if (isOk)
        {

        }

        DialogIsOpen = false;
    }

    private IEnumerable<DevOpsTeam> Teams = new List<DevOpsTeam>();
    private Guid SelectedTeamId;

    private IEnumerable<Iteration> Iterations = new List<Iteration>();
    private Guid SelectedIterationId;

    private IEnumerable<WorkItem> WorkItems = new List<WorkItem>();
    private int SelectedWorkItemId;

    private string SelectedStoryDescription = "Please select a Work Item";
    private string SelectedStoryAcceptanceCriteria = "Please select a Work Item";

    public bool IsConnected => _hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _user = await GraphServiceClient.Me.Request().GetAsync();

            SessionUser? sessionuser = SessionUserApplicationService.GetSessionUserById(Guid.Parse(_user.Id));

            if (sessionuser is not null)
            {
                _isSessionLeader = sessionuser.IsSessionLeader;

                IEnumerable<StoryPointSelection> results = StoryPointSelectionApplicationService.GetStoryPointSelectionBySessionId(sessionuser.SessionId);
                if (results is not null)
                {
                    _storyPointSelections = results.Select(x => new UserValueType(0, int.Parse(x.SelectionValue), "", x.Username));
                }

                PointerSession? session = PointerSessionApplicationService.GetPointerSessionById(sessionuser.SessionId);

                if (session is null)
                {
                    OpenDialog("Error", $"Session does not exist.");
                    return;
                }

                PointerSession = session;


                ApiClient apiClient = new ApiClient();

                Teams = await apiClient.GetTeams();

                GetSelectedWorkItemValues(session.Id);

            }
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/StoryPointerHub"))
            .Build();

        _hubConnection.On<string, string>("ReceiveUserMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            _messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);

        });

        _hubConnection.On<string>("ReceiveInfoMessage", ( message) =>
        {
            var encodedMsg = $"{message}";
            _messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<Guid, string> ("ReceiveStoryPointValueUpdated", (sessionId, session) =>
        {
            GetUsersStoryPointValues(sessionId);
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<Guid, string>("ReceiveSelectedWorkItemUpdated", (sessionId, SessionCode) =>
        {
            GetSelectedWorkItemValues(sessionId);
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<string>("RevealStoryPointValues", (SessionCode) =>
        {
            _showResults = true;
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<string>("HideStoryPointValues", (SessionCode) =>
        {
            _showResults = false;
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();

        await _hubConnection.SendAsync("AddToGroup", PointerSession.SessionCode, UserCode);

    }

    private async Task Send()
    {
        if (_messageInput is null || _messageInput.Length < 1)
        {
            // add an error
            return;
        }

        if (_hubConnection is not null && PointerSession.SessionCode is not null)
        {
            await _hubConnection.SendAsync("SendGroupMessage", PointerSession.SessionCode, UserCode, _messageInput);
            _messageInput = "";
        }
        else if(_hubConnection is not null)
        {
            await _hubConnection.SendAsync("SendMessage", UserCode, _messageInput);
            _messageInput = "";
        }
    }

    private async Task SendStoryPoints(int storyPoints)
    {
        Guid storyPointSelectionId = Guid.NewGuid();

        bool result = StoryPointSelectionApplicationService.CreateStoryPointSelection(
            new StoryPointSelectionAdto()
                {
                    Id = storyPointSelectionId,
                    SessionId = PointerSession.Id,
                    UserId = Guid.Parse(_user.Id),
                    Username = _user.GivenName,
                    SelectionValue = storyPoints
                }
        );

        var getResult = StoryPointSelectionApplicationService.GetStoryPointSelectionById(storyPointSelectionId);

        _selectedValue = storyPoints;
        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("StoryPointValueUpdated", PointerSession.Id, PointerSession.SessionCode);
        }

    }

    private void GetUsersStoryPointValues(Guid sessionId)
    {
        var results = StoryPointSelectionApplicationService.GetStoryPointSelectionBySessionId(sessionId);
        _storyPointSelections = results.Select(x => new UserValueType(0, int.Parse(x.SelectionValue), "", x.Username));
    }

    private async Task SendSelectedWorkItem(int workItemId, Guid iterationId, Guid teamId, string description, string acceptanceCriteria)
    {
        bool result = SelectedWorkItemApplicationService.CreateSelectedWorkItem(
            new SelectedWorkItemAdto()
                {
                    Id = workItemId,
                    IterationId = iterationId,
                    TeamId = teamId,
                    SessionId = PointerSession.Id,
                    Description = description,
                    AcceptanceCriteria = acceptanceCriteria,
                    StoryPoints = null
                }
        );

        var getResult = SelectedWorkItemApplicationService.GetSelectedWorkItemBySessionId(PointerSession.Id);

        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("SelectedWorkItemUpdated", PointerSession.Id, PointerSession.SessionCode);
        }

    }

    private void GetSelectedWorkItemValues(Guid sessionId)
    {
        var results = SelectedWorkItemApplicationService.GetSelectedWorkItemBySessionId(sessionId);

        if (results is not null)
        {
            SelectedTeamId = results.TeamId;
            SelectedIterationId = results.IterationId;

            SelectedWorkItemId = results.Id;

            SelectedStoryDescription = results.Description;
            SelectedStoryAcceptanceCriteria = results.AcceptanceCriteria;
        }
        else
        {
            SelectedStoryDescription = "Please select a Work Item";
            SelectedStoryAcceptanceCriteria = "Please select a Work Item";
        }
    }

    private async Task RevealStoryPointValues()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("RevealUserStoryPointValues", PointerSession.SessionCode);
        }
    }

    private async Task HideStoryPointValues()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("HideUserStoryPointValues", PointerSession.SessionCode);
        }
    }

    private async Task GetIterations()
    {
        Iterations = new List<Iteration>();
        WorkItems = new List<WorkItem>();

        ApiClient apiClient = new ApiClient();
        await HideStoryPointValues();

        SelectedStoryDescription = "Please select a Work Item";
        SelectedStoryAcceptanceCriteria = "Please select a Work Item";
        _storyPointSelections = new List<UserValueType>();

        if (SelectedTeamId != Guid.Parse("00000000-0000-0000-0000-000000000000") )
        {

            Iterations = new List<Iteration>();
            WorkItems = new List<WorkItem>();

            Iterations = await apiClient.GetIterations(SelectedTeamId);
        }
    }

    private async Task GetWorkItems()
    {
        ApiClient apiClient = new ApiClient();

        WorkItems = new List<WorkItem>();

        WorkItems = await apiClient.GetWorkItems(SelectedTeamId, SelectedIterationId);
    }

    private async Task SetSelectedStory()
    {
        if (WorkItems.Count() > 0)
        {
            string descriptionResult = WorkItems.SingleOrDefault(x => x.Id == SelectedWorkItemId).Fields.Description;

            if (descriptionResult is null || descriptionResult.Length < 1)
            {
                SelectedStoryDescription = "[No Description Found]";
            }
            else
            {
                SelectedStoryDescription = descriptionResult;
            }

            string acResult = WorkItems.SingleOrDefault(x => x.Id == SelectedWorkItemId).Fields.AcceptanceCriteria;

            if (acResult is null || acResult.Length < 1)
            {
                SelectedStoryAcceptanceCriteria = "[No Acceptance Criteria Found]";
            }
            else
            {
                SelectedStoryAcceptanceCriteria = acResult;
            }

            SendSelectedWorkItem(SelectedWorkItemId, SelectedIterationId, SelectedTeamId, SelectedStoryDescription, SelectedStoryAcceptanceCriteria);
        }
    }

    private async Task SaveStoryPoints()
    {
        if (SelectedWorkItemId == 0)
        {
            OpenDialog("Error", "Please select a Work Item.");
        }
        else if (_storyPointSelections.Count() < 1)
        {
            OpenDialog("Error", "No votes have been cast.");
        }
        else
        {
            ApiClient apiClient = new ApiClient();

            int storyPoints = @StoryPointValueAverager.Average(_storyPointSelections.Select(x => x.Value).ToList());

            apiClient.PatchWorkItemStoryPoints(storyPoints, SelectedWorkItemId);   
            
            OpenDialog("Success", "Story Points Saved.");
        }  
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}